In [1]:
import pandas as pd

In [2]:
data = pd.read_parquet("green_tripdata_2025-11.parquet")
print(data.info())

<class 'pandas.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  str
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), str(1)
memory usage: 7.0 MB
None

In [33]:
november_data = (data[
                (data['lpep_pickup_datetime'] >= '2025-11-01') & 
                (data['lpep_pickup_datetime'] <= '2025-12-01') &
                (data['trip_distance'] <= 1)
                ][['lpep_pickup_datetime', 'trip_distance']])

In [35]:
november_data.count()

lpep_pickup_datetime    8007
trip_distance           8007
dtype: int64

In [53]:
data['day'] = data['lpep_pickup_datetime'].dt.day

In [61]:
help(pd.DataFrame.agg)

Help on function aggregate in module pandas.core.frame:

aggregate(self, func=None, axis: 'Axis' = 0, *args, **kwargs)
    Aggregate using one or more operations over the specified axis.

    Parameters
    ----------
    func : function, str, list or dict
        Function to use for aggregating the data. If a function, must either
        work when passed a DataFrame or when passed to DataFrame.apply.

        Accepted combinations are:

        - function
        - string function name
        - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
        - dict of axis labels -> functions, function names or list of such.
    axis : {0 or 'index', 1 or 'columns'}, default 0
            If 0 or 'index': apply function to each column.
            If 1 or 'columns': apply function to each row.
    *args
        Positional arguments to pass to `func`.
    **kwargs
        Keyword arguments to pass to `func`.

    Returns
    -------
    scalar, Series or DataFrame

        The return can be:

        * scalar : when Series.agg is called with single function
        * Series : when DataFrame.agg is called with a single function
        * DataFrame : when DataFrame.agg is called with several functions

    See Also
    --------
    DataFrame.apply : Perform any type of operations.
    DataFrame.transform : Perform transformation type operations.
    DataFrame.groupby : Perform operations over groups.
    DataFrame.resample : Perform operations over resampled bins.
    DataFrame.rolling : Perform operations over rolling window.
    DataFrame.expanding : Perform operations over expanding window.
    core.window.ewm.ExponentialMovingWindow : Perform operation over exponential
        weighted window.

    Notes
    -----
    The aggregation operations are always performed over an axis, either the
    index (default) or the column axis. This behavior is different from
    `numpy` aggregation functions (`mean`, `median`, `prod`, `sum`, `std`,
    `var`), where the default is to compute the aggregation of the flattened
    array, e.g., ``numpy.mean(arr_2d)`` as opposed to
    ``numpy.mean(arr_2d, axis=0)``.

    `agg` is an alias for `aggregate`. Use the alias.

    Functions that mutate the passed object can produce unexpected
    behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
    for more details.

    A passed user-defined-function will be passed a Series for evaluation.

    If ``func`` defines an index relabeling, ``axis`` must be ``0`` or ``index``.

    Examples
    --------
    >>> df = pd.DataFrame(
    ...     [[1, 2, 3], [4, 5, 6], [7, 8, 9], [np.nan, np.nan, np.nan]],
    ...     columns=["A", "B", "C"],
    ... )

    Aggregate these functions over the rows.

    >>> df.agg(["sum", "min"])
            A     B     C
    sum  12.0  15.0  18.0
    min   1.0   2.0   3.0

    Different aggregations per column.

    >>> df.agg({"A": ["sum", "min"], "B": ["min", "max"]})
            A    B
    sum  12.0  NaN
    min   1.0  2.0
    max   NaN  8.0

    Aggregate different functions over the columns and rename the index of
    the resulting DataFrame.

    >>> df.agg(x=("A", "max"), y=("B", "min"), z=("C", "mean"))
         A    B    C
    x  7.0  NaN  NaN
    y  NaN  2.0  NaN
    z  NaN  NaN  6.0

    Aggregate over the columns.

    >>> df.agg("mean", axis="columns")
    0    2.0
    1    5.0
    2    8.0
    3    NaN
    dtype: float64

In [73]:
pd.pivot_table(
    data=data,
    values=['trip_distance'],
    index=['day'],
    aggfunc='sum'
).sort_values(by='trip_distance', ascending=False)

     trip_distance
day
1        340912.96
17       184845.16
16       150685.50
6        125015.02
21       101966.76
5         82001.02
26        58998.62
13        54031.07
7         40515.05
20        33200.56
12        20397.38
22        15019.74
19         6031.56
18         5976.12
25         5954.80
24         5639.29
3          5609.86
14         5594.69
10         5352.27
4          4925.90
11         4636.86
8          4495.23
15         4465.84
30         4271.82
2          4249.90
23         4228.88
29         4060.74
9          3964.26
27         3512.98
28         3331.53
31           32.23

In [4]:
zone = pd.read_csv("taxi_zone_lookup.csv")
print(zone.info())

EmptyDataError: No columns to parse from file